
body{
    background-color: rgb(187, 189, 167);
}
form{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    border: 13px aliceblue 0;
}
